# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Traket-ear/target
Traket-ejb/lib/*
Traket-ejb/target
Traket-web/target

# dependencies
action-web/node_modules
/target/
Traket-web/nb-configuration.xml
Traket-web/nb-configuration.xml